<header>
  <div class="container">
    <a routerLink="/" class="logo">User Manager</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Accueil</a></li>
        <li><a href="#" routerLink="/users">Utilisateurs</a></li>
        <li *ngIf="authService.isAuthenticated() === true"><a href="#" (click)="logout()"> <span class="glyphicon glyphicon-log-out"></span> Déconnexion</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

